---
import LandingLayout from '@/layouts/LandingLayout.astro';
import { getCollection } from 'astro:content';
import BlogCard from '@/components/blog/BlogCard.astro';

export async function getStaticPaths() {
  return [
    { params: { lang: 'en' } },
    { params: { lang: 'vi' } },
  ];
}

const { lang } = Astro.params;
const posts = (await getCollection('blog'))
  .filter(post => post.data.lang === lang)
  .sort((a, b) => b.data.publishedAt.valueOf() - a.data.publishedAt.valueOf());
---

<LandingLayout 
  title={lang === 'en' ? "All Articles" : "Tất cả bài viết"}
  lang={lang}
>
  <div class="max-w-7xl mx-auto px-6 pt-32 pb-20">
    <h1 class="text-4xl font-bold mb-12 tracking-tight">{lang === 'en' ? "Latest Articles" : "Bài viết mới nhất"}</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
      {posts.map((post) => (
        <BlogCard 
          title={post.data.title}
          description={post.data.description}
          href={`/blog/${post.id}`}
          publishedAt={post.data.publishedAt}
          tags={post.data.tags}
          author={post.data.author}
        />
      ))}
    </div>
  </div>
</LandingLayout>
