---
import LandingLayout from '@/layouts/LandingLayout.astro';
import { getCollection } from 'astro:content';
import BlogCard from '@/components/blog/BlogCard.astro';

const lang = Astro.url.searchParams.get('lang') || 'en';
const posts = (await getCollection('blog'))
  .filter(post => post.data.lang === lang)
  .sort((a, b) => b.data.publishedAt.valueOf() - a.data.publishedAt.valueOf());
---

<LandingLayout 
  title={lang === 'en' ? "All Articles" : "Tất cả bài viết"}
>
  <div class="py-24 px-6 max-w-7xl mx-auto">
    <h1 class="text-4xl font-bold mb-12">{lang === 'en' ? "Latest Articles" : "Bài viết mới nhất"}</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {posts.map((post) => (
        <BlogCard 
          title={post.data.title}
          description={post.data.description}
          href={`/blog/${post.id}`}
          publishedAt={post.data.publishedAt}
          tags={post.data.tags}
          author={post.data.author}
        />
      ))}
    </div>
  </div>
</LandingLayout>
